.width95{
  width: 95% !important;
  max-width: 100% !important;
}

.width80{
  width: 85% !important;
  max-width: 100% !important;
}

.width10{
  width: 10%;
}

.full-height {
  min-height: 94vh !important;
}

.aqua{
  background-color: rgb(96, 179, 185) !important;
}

.ember {
  background-color: rgb(222, 78, 61) !important;
}

.link-ember {
  color: rgb(222, 78, 61) !important;
}

.link-aqua{
  color: rgb(96, 179, 185) !important;
}

.png-z-depth-2 {
  filter: drop-shadow(6px 6px 3px rgba(0,0,0,0.5));
}

.spin-fade-in {
  opacity: 0;
  animation: spinfadein 3s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.spin-grow{
  animation: spingrowin 2s;
  animation-fill-mode: forwards;
}

@keyframes spinfadein{
  from {transform: rotate(0deg); opacity: 0;}
  to {transform: rotate(360deg); opacity: 1;}
}

@keyframes spingrowin{
  from {transform: scale(0,0) rotate(0deg); opacity: 0;}
  to {transform: scale(1,1) rotate(360deg); opacity: 1;}
}

@media (min-width: 335px) {
  .width10{
    width: 35%;
  }

  .width70{
    width: 70%;
  }
}
