<div class="container width80">
  <div class="row">
    <div class="col s12 m7 l7">
      <h4>Congradulations</h4>
      <h5>You just completed a very simple ember app</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m7 l7">
      <ul class="browser-default">
        <li>We just went over the basics of an ember app</li>
        <li>You should have leanred how to: <ol>
          <li>Generate an ember app from the comand line.</li>
          <li>Starting the ember server.</li>
          <li>Generate a template.</li>
          <li>Generate a Route</li>
        </ol></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6 right-align">
    {{#link-to "ember_app.step_4" class="btn waves-effect waves-light ember"}}
    Previous Step
    <i class="material-icons left">navigate_before</i>
    {{/link-to}}
  </div>
  <div class="col s6 left-align">
    {{#link-to "ember_app.step_1" class="btn waves-effect waves-light ember"}}
    Start Over
    <i class="material-icons right">navigate_next</i>
    {{/link-to}}
  </div>
</div>
