<div class="container width80">
  <div class="row">
    <div class="col s12">
      <h3>Step 1 - Generating an App</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="browser-default">
        <li>In order to begin you need to create an ember app.
          <ul class="browser-default">
            <li><code>ember new &lt;app name&gt; </code></li>
          </ul>
        </li>
        <li>What this does is creates a new directory and set up a new Ember application inside of it.</li>
        <li>Out of the box you get:
          <ul class="browser-default">
            <li>A development server.</li>
            <li>Template compilation.</li>
            <li>JavaScript and CSS minification.</li>
            <li>ES2015 features via Babel.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
