{{back-button}}
<div class="row">
  <div class="col s12 center-align">
      <img src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" alt="" class="png-z-depth-2 spin-grow width10">
  </div>
</div>
{{outlet}}
